= render 'sidebar'

.main
  .header
    .header__name
      = @group.name
    .group-edit
      = link_to 'Edit',edit_group_path(:id)

    .header__members
      - @group.users.each do |user|
        .group_members__list
          = user.name

  .body
    .body-content
      = render @message

  .footer
    .footer__form
      = form_for([@group, @message]) do |f|
        .footer__chat__footer-body
          = f.text_field :body, placeholder:'type a message', class:'message'
        = f.label :image, class:'chat-file' do
          = f.file_field :image, class:'image'
          %i.fa.fa-image
        = f.submit "Send", class:'submit'


