.chat-side
  .side__user
    .side__user__content
      .side__user-name= current_user.name
      %a.side__user-new-group
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o
      %a.side__user-edit-user
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog

  .side__groups
    .side__groups-content
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .side__group
            .side__group-name
              = group.name
            .side__group-message
              - if group.messages.last
                = group.messages.last.body
              - else
                "メッセージがありません"
